<ion-view view-title="На модерации">
  <ion-content>
      <ion-list>
          <ion-item class="item item-avatar" ng-repeat="chat in chatsModarate">
              <img src="img/icon-user-default.png">
              <h2>{{chat.phone_user}}</h2>
              <h5>{{chat.date_send}}</h5>
              <p>{{chat.text_sms}}</p>
              <ion-option-button class="button-positive" ng-click="addPost(chat.id_sms)"><i class="icon ion-checkmark-round"></i></ion-option-button>
              <ion-option-button class="button-assertive" ng-click="deletePost(chat.id_sms)"><i class="icon ion-trash-a"></i></ion-option-button>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
