<ion-view view-title="Чат">
  <ion-content>
      <ion-list ng-if="loggedin">
          <ion-item class="item item-avatar" ng-repeat="chat in chats">
              <img src="img/icon-user-default.png">
              <h2>{{chat.phone_user}}</h2>
              <h5>{{chat.date_send}}</h5>
              <p>{{chat.text_sms}}</p>
          </ion-item>
      </ion-list>
  </ion-content>
    <form name="sendMessageForm" ng-submit="sendMessage(input.message)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="input.message" value="" placeholder="Введите текст сообщения..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
