<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Меню</h1>
        </ion-header-bar>
        <ion-content>

            <ion-list>
                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/chat">
                    <i class="icon ion-chatbubble-working"></i>
                    Чат    {{adminStatus | json}}
                </ion-item>
                <ion-item ng-if="adminStatus" class="item-icon-left" nav-clear menu-close href="#/app/chatModarete">
                    <i class="icon ion-android-hand"></i>
                    На модерации
                    <span class="badge badge-assertive">{{chatsModarateCount}}</span>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ng-click="doLogout()">
                    <i class="icon ion-android-exit"></i>
                    Выход
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
