.bar-footer {
    overflow: visible !important;
    height: auto !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
    width: 100%;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 18px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}
input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
    width: 100%;
}
